@font-face {
    font-family: uno;
    src: url(fuentes/BioSansSoft-ExtraBold.ttf);
}

@font-face {
    font-family: dos;
    src: url(fuentes/Cinematografica-Heavy-trial.ttf);
}

@font-face {
    font-family: tres;
    src: url(fuentes/Flat-it\ -\ BioSans-Regular.otf);
}